openapi: 3.0.0
servers:
  - description: Firefly III demo site
    url: https://demo.firefly-iii.org
info:
  title: Firefly III API v1.5.6
  description: |
    This is the documentation of the Firefly III API. You can find accompanying documentation on the website of Firefly III itself (see below). Please report any bugs or issues. You may use the "Authorize" button to try the API below. This file was last generated on 2022-04-04T03:54:41+00:00
  version: "1.5.6"
  contact:
    name: James Cole
    email: james@firefly-iii.org
    url: https://firefly-iii.org
  license:
    name: AGPLv3
    url: 'https://www.gnu.org/licenses/agpl-3.0.en.html'
tags:
- name: about
  description: These endpoints deliver general system information, version- and meta
    information.
- name: configuration
  description: These endpoints allow you to manage and update the Firefly III configuration.
    You need to have the &quot;owner&quot; role to update configuration.
- name: users
  description: Use these endpoints to manage the users registered within Firefly III.
    You need to have the &quot;owner&quot; role to access these endpoints.
- name: autocomplete
  description: Auto-complete endpoints show basic information about Firefly III models,
    like the name and maybe some amounts. They all support a search query and can
    be used to autocomplete data in forms. Autocomplete return values always have
    a &quot;name&quot;-field.
- name: charts
  description: The &quot;charts&quot; endpoints deliver optimised data for charts and graphs.
- name: data
  description: The &quot;data&quot;-endpoints manage generic Firefly III and user-specific data.
- name: insight
  description: The &quot;insight&quot; endpoints try to deliver sums, balances and insightful
    information in the broadest sense of the word.
- name: summary
  description: These endpoints deliver summaries, like sums, lists of numbers and
    other processed information. Mainly used for the main dashboard and pretty specific
    for Firefly III itself.
- name: search
  description: Endpoints that allow you to search through the user&#039;s financial data.
    Different from the autocomplete endpoints, the search accepts more advanced arguments.
- name: preferences
  description: These endpoints can be used to manage the user&#039;s preferences, including
    some hidden ones.
- name: webhooks
  description: These endpoints can be used to manage the user&#039;s webhooks and triggers
    them if necessary.
- name: accounts
  description: Endpoints that deliver all of the user&#039;s asset, expense and other accounts
    (and the metadata) together with related transactions, piggy banks and other objects.
    Also delivers endpoints for CRUD operations for accounts.
- name: attachments
  description: Endpoints to manage the attachments of the authenticated user, including
    up- and downloading of the files.
- name: available_budgets
  description: Endpoints to manage the total available amount that the user has made
    available to themselves. Used in periodic budgeting.
- name: bills
  description: Endpoints to manage a user&#039;s bills and all related objects.
- name: budgets
  description: Endpoints to manage a user&#039;s budgets and get info on the related objects,
    like limits.
- name: categories
  description: Endpoints to manage a user&#039;s categories and get information on transactions
    and other related objects.
- name: object_groups
  description: Endpoints to control and manage all of the user&#039;s object groups. Can
    only be created in conjunction with another object (for example a piggy bank)
    and will auto-delete when no other items are linked to it.
- name: piggy_banks
  description: Endpoints to control and manage all of the user&#039;s piggy banks and related
    objects and information.
- name: recurrences
  description: Use these endpoints to manage the user&#039;s recurring transactions, trigger
    the creation of transactions and manage the settings.
- name: rules
  description: These endpoints can be used to manage all of the user&#039;s rules. Also
    includes triggers to execute or test rules and individual triggers.
- name: rule_groups
  description: Manage all of the user&#039;s groups of rules and trigger the execution
    of entire groups.
- name: tags
  description: This endpoint manages all of the user&#039;s tags.
- name: transactions
  description: The most-used endpoints in Firefly III, these endpoints are used to
    manage the user&#039;s transactions.
- name: currencies
  description: Endpoints to manage the currencies in Firefly III. Depending on the
    user&#039;s role you can also disable and enable them, or add new ones.
- name: links
  description: Endpoints to manage links between transactions, and manage the type
    of links available.

paths:
  /api/v1/autocomplete/rule-groups:
    get:
      tags:
        - autocomplete
      operationId: getRuleGroupsAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all rule groups of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of rule groups with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleGroupArray'
  /api/v1/autocomplete/categories:
    get:
      tags:
        - autocomplete
      operationId: getCategoriesAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all categories of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of categories with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCategoryArray'
  /api/v1/autocomplete/transaction-types:
    get:
      tags:
        - autocomplete
      operationId: getTransactionTypesAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all transaction types returned in a basic auto-complete array. English only.
      responses:
        200:
          description: A list of transaction types with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionTypeArray'
  /api/v1/autocomplete/object-groups:
    get:
      tags:
        - autocomplete
      operationId: getObjectGroupsAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all object groups of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of object groups with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteObjectGroupArray'
  /api/v1/autocomplete/rules:
    get:
      tags:
        - autocomplete
      operationId: getRulesAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all rules of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of rules with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleArray'
  /api/v1/autocomplete/transactions:
    get:
      tags:
        - autocomplete
      operationId: getTransactionsAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all transaction descriptions of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of transaction descriptions with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionArray'
  /api/v1/autocomplete/transactions-with-id:
    get:
      tags:
        - autocomplete
      operationId: getTransactionsIDAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all transactions, complemented with their ID, of the user returned in a basic auto-complete array. This endpoint is DEPRECATED and I suggest you DO NOT use it.
      responses:
        200:
          description: A list of transactions with very basic information. This endpoint is DEPRECATED and I suggest you DO NOT use it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionIDArray'
  /api/v1/autocomplete/budgets:
    get:
      tags:
        - autocomplete
      operationId: getBudgetsAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all budgets of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of budgets with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBudgetArray'
  /api/v1/autocomplete/piggy-banks:
    get:
      tags:
        - autocomplete
      operationId: getPiggiesAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all piggy banks of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of piggy banks with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyArray'
  /api/v1/autocomplete/piggy-banks-with-balance:
    get:
      tags:
        - autocomplete
      operationId: getPiggiesBalanceAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all piggy banks of the user returned in a basic auto-complete array complemented with balance information.
      responses:
        200:
          description: A list of piggy banks with very basic balance information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyBalanceArray'
  /api/v1/autocomplete/currencies:
    get:
      tags:
        - autocomplete
      operationId: getCurrenciesAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all currencies of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of currencies with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyArray'
  /api/v1/autocomplete/currencies-with-code:
    get:
      tags:
        - autocomplete
      operationId: getCurrenciesCodeAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all currencies of the user returned in a basic auto-complete array. This endpoint is DEPRECATED and I suggest you DO NOT use it.
      responses:
        200:
          description: A list of currencies with very basic information and the currency code between brackets. This endpoint is DEPRECATED and I suggest you DO NOT use it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyCodeArray'
  /api/v1/autocomplete/accounts:
    get:
      tags:
        - autocomplete
      operationId: getAccountsAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query for accounts.
          required: false
          schema:
            type: string
            format: string
          example: "query-string"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
        - in: query
          name: date
          required: false
          schema:
            type: string
            format: string
          example: "2020-09-17"
          description: If the account is an asset account or a liability, the autocomplete will also return the balance of the account on this date.
        - in: query
          name: type
          description: Optional filter on the account type(s) used in the autocomplete.
          required: false
          schema:
            $ref: '#/components/schemas/AccountTypeFilter'
      summary: Returns all accounts of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of accounts with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteAccountArray'
  /api/v1/autocomplete/tags:
    get:
      tags:
        - autocomplete
      operationId: getTagAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all tags of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of tags with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTagArray'
  /api/v1/autocomplete/bills:
    get:
      tags:
        - autocomplete
      operationId: getBillsAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query for bills.
          required: false
          schema:
            type: string
            format: string
          example: "query-string"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all bills of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of bills with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBillArray'
  /api/v1/autocomplete/recurring:
    get:
      tags:
        - autocomplete
      operationId: getRecurringAC
      parameters:
        - in: query
          name: query
          description: The autocomplete search query.
          required: false
          schema:
            type: string
            format: string
          example: "str"
        - in: query
          name: limit
          description: The number of items returned.
          required: false
          schema:
            type: integer
            format: int32
          example: 10
      summary: Returns all recurring transactions of the user returned in a basic auto-complete array.
      responses:
        200:
          description: A list of recurring transactions with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRecurrenceArray'
  /api/v1/chart/account/overview:
    get:
      tags:
        - charts
      summary: Dashboard chart with asset account balance information.
      description: |
        This endpoint returns the data required to generate a chart with basic asset account balance information.
      operationId: getChartAccountOverview
      parameters:
      - in: query
        name: start
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: end
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        schema:
          type: string
          format: date
      responses:
        200:
          description: Line chart oriented chart information. Check out the model for more details. Each entry is a line (or bar) in the chart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'
  /api/v1/data/export/accounts:
    get:
      summary: Export account data from Firefly III
      description: |
        This endpoint allows you to export your accounts from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportAccounts
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/bills:
    get:
      summary: Export bills from Firefly III
      description: |
        This endpoint allows you to export your bills from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBills
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/budgets:
    get:
      summary: Export budgets and budget amount data from Firefly III
      description: |
        This endpoint allows you to export your budgets and associated budget data from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBudgets
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/categories:
    get:
      summary: Export category data from Firefly III
      description: |
        This endpoint allows you to export your categories from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportCategories
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/piggy-banks:
    get:
      summary: Export piggy banks from Firefly III
      description: |
        This endpoint allows you to export your piggy banks from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportPiggies
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/recurring:
    get:
      summary: Export recurring transaction data from Firefly III
      description: |
        This endpoint allows you to export your recurring transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRecurring
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/rules:
    get:
      summary: Export rule groups and rule data from Firefly III
      description: |
        This endpoint allows you to export your rules and rule groups from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRules
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/tags:
    get:
      summary: Export tag data from Firefly III
      description: |
        This endpoint allows you to export your tags from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTags
      tags:
        - data
      parameters:
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/export/transactions:
    get:
      summary: Export transaction data from Firefly III
      description: |
        This endpoint allows you to export transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTransactions
      tags:
        - data
      parameters:
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts
          explode: false
          description: |
            Limit the export of transactions to these accounts only. Only asset accounts will be accepted. Other types will be silently dropped.
          required: false
          example: "1,2,3"
          schema:
            type: string
            format: string
        - in: query
          name: type
          description: The file type the export file (CSV is currently the only option).
          required: false
          schema:
            $ref: '#/components/schemas/ExportFileFilter'
      responses:
        200:
          description: 'The exported transaction in a file.'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/data/destroy:
    delete:
      tags:
        - data
      operationId: destroyData
      summary: Endpoint to destroy user data
      description: |
        A call to this endpoint permanently destroys the requested data type. Use it with care and always with user permission.
        The demo user is incapable of using this endpoint.
      responses:
        204:
          description: Empty response when data has been destroyed.
        '500':
          description: Internal error, or user is unauthorized to destroy data.
      parameters:
      - in: query
        name: objects
        description: The type of data that you wish to destroy. You can only use one at a time.
        required: true
        schema:
          $ref: '#/components/schemas/DataDestroyObject'
  /api/v1/data/bulk/transactions:
    post:
      summary: Bulk update transaction properties. For more information, see https://docs.firefly-iii.org/firefly-iii/api/specials
      description: |
        Allows you to update transactions in bulk.
      operationId: bulkUpdateTransactions
      tags:
        - data
      parameters:
        - in: query
          name: query
          description: The JSON query.
          required: true
          schema:
            type: string
            format: json
      responses:
        204:
          description: Empty response when the update was successful. A future improvement is to include the changed transactions.
        '500':
          description: Internal error.
  /api/v1/insight/expense/bill:
    get:
      summary: Insight into expenses, grouped by bill.
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) bill.
      operationId: insightExpenseBill
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: bills[]
          description: |
            The bills to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of budget and expense details. Each budget has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-bill:
    get:
      summary: Insight into expenses, without bill.
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no bill.
      operationId: insightExpenseNoBill
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of expense details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/total:
    get:
      summary: Insight into total expenses.
      description: |
        This endpoint gives a sum of the total expenses made by the user.
      operationId: insightExpenseTotal
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of sums in different currencies.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/income/total:
    get:
      summary: Insight into total income.
      description: |
        This endpoint gives a sum of the total income received by the user.
      operationId: insightIncomeTotal
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of sums in different currencies.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/transfer/total:
    get:
      summary: Insight into total transfers.
      description: |
        This endpoint gives a sum of the total amount transfers made by the user.
      operationId: insightTransferTotal
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of sums in different currencies.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/category:
    get:
      summary: Insight into expenses, grouped by category.
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) category.
      operationId: insightExpenseCategory
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: categories[]
          description: |
            The categories to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of category and expense details. Each category has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-category:
    get:
      summary: Insight into expenses, without category.
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no category.
      operationId: insightExpenseNoCategory
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of expense details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/income/category:
    get:
      summary: Insight into income, grouped by category.
      description: |
        This endpoint gives a summary of the income received by the user, grouped by (any) category.
      operationId: insightIncomeCategory
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: categories[]
          description: |
            The categories to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of category and income details. Each category has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/no-category:
    get:
      summary: Insight into income, without category.
      description: |
        This endpoint gives a summary of the income received by the user, including only income with no category.
      operationId: insightIncomeNoCategory
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of income details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/transfer/category:
    get:
      summary: Insight into transfers, grouped by category.
      description: |
        This endpoint gives a summary of the transfers made by the user, grouped by (any) category.
      operationId: insightTransferCategory
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: categories[]
          description: |
            The categories to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of category and transfer details. Each category has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/transfer/no-category:
    get:
      summary: Insight into transfers, without category.
      description: |
        This endpoint gives a summary of the transfers made by the user, including only transfers with no category.
      operationId: insightTransferNoCategory
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of transfer details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/expense:
    get:
      summary: Insight into expenses, grouped by expense account.
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by expense account.
      operationId: insightExpenseExpense
      tags:
        - insight
      parameters:
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          example: "2021-01-01"
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you add the accounts ID's of expense accounts, only those accounts
            are included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. You can combine both asset / liability and expense account ID's.
            Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of expense accounts and expense details. Each expense acccount has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/asset:
    get:
      summary: Insight into expenses, grouped by asset account.
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by asset account.
      operationId: insightExpenseAsset
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of asset accounts and expense details. Each asset account has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/revenue:
    get:
      summary: Insight into income, grouped by revenue account.
      description: |
        This endpoint gives a summary of the income received by the user, grouped by revenue account.
      operationId: insightIncomeRevenue
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you add the accounts ID's of revenue accounts, only those accounts
            are included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
            asset accounts / liabilities will be included. You can combine both asset / liability and deposit account ID's.
            Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of revenue accounts and income details. Each revenue acccount has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/asset:
    get:
      summary: Insight into income, grouped by asset account.
      description: |
        This endpoint gives a summary of the income received by the user, grouped by asset account.
      operationId: insightIncomeAsset
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of asset accounts and income details. Each asset account has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/transfer/asset:
    get:
      summary: Insight into transfers, grouped by account.
      description: |
        This endpoint gives a summary of the transfers made by the user, grouped by asset account or lability.
      operationId: insightTransfers
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of asset accounts and transfer details. Each asset account has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTransfer'
  /api/v1/insight/expense/budget:
    get:
      summary: Insight into expenses, grouped by budget.
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) budget.
      operationId: insightExpenseBudget
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: budgets[]
          description: |
            The budgets to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of budget and expense details. Each budget has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-budget:
    get:
      summary: Insight into expenses, without budget.
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no budget.
      operationId: insightExpenseNoBudget
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of expense details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/tag:
    get:
      summary: Insight into expenses, grouped by tag.
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) tag.
      operationId: insightExpenseTag
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: tags[]
          description: |
            The tags to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of tag and expense details. Each tag has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-tag:
    get:
      summary: Insight into expenses, without tag.
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no tag.
      operationId: insightExpenseNoTag
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of expense details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/income/tag:
    get:
      summary: Insight into income, grouped by tag.
      description: |
        This endpoint gives a summary of the income received by the user, grouped by (any) tag.
      operationId: insightIncomeTag
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: tags[]
          description: |
            The tags to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of tag and income details. Each tag has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/no-tag:
    get:
      summary: Insight into income, without tag.
      description: |
        This endpoint gives a summary of the income received by the user, including only income with no tag.
      operationId: insightIncomeNoTag
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of income details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/transfer/tag:
    get:
      summary: Insight into transfers, grouped by tag.
      description: |
        This endpoint gives a summary of the transfers created by the user, grouped by (any) tag.
      operationId: insightTransferTag
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: tags[]
          description: |
            The tags to be included in the results.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of tag and transfer details. Each tag has one row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/transfer/no-tag:
    get:
      summary: Insight into expenses, without tag.
      description: |
        This endpoint gives a summary of the transfers made by the user, including only transfers with no tag.
      operationId: insightTransferNoTag
      tags:
        - insight
      parameters:
        - in: query
          name: start
          example: "2021-01-01"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          example: "2021-01-31"
          description: |
            A date formatted YYYY-MM-DD.
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: accounts[]
          description: |
            The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers from those
            asset accounts / liabilities will be included. Other account ID's will be ignored.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: 'A list of transfer details. One row per currency.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/summary/basic:
    get:
      tags:
        - summary
      operationId: getBasicSummary
      summary: Returns basic sums of the users data.
      parameters:
      - in: query
        name: start
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: end
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: currency_code
        description: |
          A currency code like EUR or USD, to filter the result.
        required: false
        schema:
          type: string
          format: string
      description: |
        Returns basic sums of the users data, like the net worth, spent and earned amounts. It is multi-currency, and is used in Firefly III to populate the dashboard.
      responses:
        '200':
          description: An array of sums. It depends on the user what you can expect to get back, so please try this out on the demo site.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BasicSummary'
  /api/v1/attachments:
    get:
      summary: List all attachments.
      description: |
        This endpoint lists all attachments.
      operationId: listAttachment
      tags:
        - attachments
      parameters:
      - in: query
        name: page
        description: Page number. The default pagination is 50.
        required: false
        schema:
          type: integer
          example: 1
      responses:
        200:
          description: A list of attachments.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
    post:
      summary: Store a new attachment.
      description: |
        Creates a new attachment. The data required can be submitted as a JSON body or as a list of parameters. You cannot use this endpoint to upload the actual file data (see below). This endpoint only creates the attachment object.
      operationId: storeAttachment
      tags:
        - attachments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentStore'
        description: "JSON array or key=value pairs with the necessary attachment information. See the model for the exact specifications."
        required: true
      responses:
        200:
          description: 'New attachment stored, result in response.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/attachments/{id}:
    get:
      summary: Get a single attachment.
      description: |
        Get a single attachment. This endpoint only returns the available metadata for the attachment. Actual file data is handled in two other endpoints (see below).
      operationId: getAttachment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the attachment.
      tags:
        - attachments
      responses:
        200:
          description: 'The requested attachment'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        404:
          description: Attachment not found
    put:
      operationId: updateAttachment
      tags:
        - attachments
      summary: Update existing attachment.
      description: |
        Update the meta data for an existing attachment. This endpoint does not allow you to upload or download data. For that, see below.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the attachment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
        description: JSON array with updated attachment information. See the model for the exact specifications.
        required: true
      responses:
        200:
          description: 'Updated attachment stored, result in response'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteAttachment
      summary: Delete an attachment.
      description: |
        With this endpoint you delete an attachment, including any stored file data.
      tags:
        - attachments
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the single.
      responses:
        204:
          description: Attachment deleted.
        404:
          description: No such attachment
  /api/v1/attachments/{id}/download:
    get:
      summary: Download a single attachment.
      description: |
        This endpoint allows you to download the binary content of a transaction. It will be sent to you as a download, using the content type "application/octet-stream" and content disposition "attachment; filename=example.pdf".
      operationId: downloadAttachment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the attachment.
      tags:
        - attachments
      responses:
        200:
          description: 'The requested attachment'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        404:
          description: File not found
  /api/v1/attachments/{id}/upload:
    post:
      summary: Upload an attachment.
      description: |
        Use this endpoint to upload (and possible overwrite) the file contents of an attachment. Simply put the entire file in the body as binary data.
      operationId: uploadAttachment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the attachment.
      tags:
        - attachments
      responses:
        204:
          description: 'Upload was a success'
        404:
          description: File not found
        422:
          description: Upload invalid or empty file.
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
  /api/v1/rules/{id}/test:
    get:
      summary: Test which transactions would be hit by the rule. No changes will be made.
      description: Test which transactions would be hit by the rule. No changes will be made. Limit the result if you want to.
      operationId: testRule
      tags:
        - rules
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: "123"
          description: The ID of the rule.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD, to limit the transactions the test will be applied to. Both the start date and the end date must be present.
          required: false
          schema:
            type: string
            format: date
            example: "2018-09-17"
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD, to limit the transactions the test will be applied to. Both the start date and the end date must be present.
          required: false
          schema:
            type: string
            format: date
            example: "2018-09-17"
        - in: query
          name: accounts[]
          description: |
            Limit the testing of the rule to these asset accounts or liabilities. Only asset accounts and liabilities will be accepted. Other types will be silently dropped.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        200:
          description: A list of transactions that would be changed by the rule. No changes will be made.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/rules/{id}/trigger:
    post:
      summary: Fire the rule on your transactions.
      description: Fire the rule group on your transactions. Changes will be made by the rules in the group! Limit the result if you want to.
      operationId: fireRule
      tags:
        - rules
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: "123"
          description: The ID of the rule.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD, to limit the transactions the actions will be applied to. If the start date is not present, it will be set to one year ago. If you use this field, both the start date and the end date must be present.
          required: false
          schema:
            type: string
            example: "2018-09-17"
            format: date
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD, to limit the transactions the actions will be applied to. If the end date is not present, it will be set to today. If you use this field, both the start date and the end date must be present.
          required: false
          schema:
            type: string
            example: "2018-09-17"
            format: date
        - in: query
          name: accounts[]
          description: |
            Limit the triggering of the rule to these asset accounts or liabilities. Only asset accounts and liabilities will be accepted. Other types will be silently dropped.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1, 2, 3 ]
      responses:
        204:
          description: "The rules in the group are executed. Due to the setup of this function (asynchronous job execution) the result cannot be displayed."
  /api/v1/bills/{id}/attachments:
    get:
      summary: List all attachments uploaded to the bill.
      description: This endpoint will list all attachments linked to the bill.
      operationId: listAttachmentByBill
      tags:
        - bills
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: "123"
          description: The ID of the bill.
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        200:
          description: A list of attachments
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
  /api/v1/bills/{id}/rules:
    get:
      summary: List all rules associated with the bill.
      description: This endpoint will list all rules that have an action to set the bill to this bill.
      operationId: listRuleByBill
      tags:
        - bills
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: "123"
          description: The ID of the bill.
      responses:
        200:
          description: A list of rules
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleArray'
  /api/v1/bills/{id}/transactions:
    get:
      summary: List all transactions associated with the  bill.
      description: This endpoint will list all transactions linked to this bill.
      operationId: listTransactionByBill
      tags:
        - bills
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: "123"
          description: The ID of the bill.
        - in: query
          name: start
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: "2018-09-17"
        - in: query
          name: end
          description: |
            A date formatted YYYY-MM-DD.
          required: false
          schema:
            type: string
            format: date
            example: "2018-12-31"
        - in: query
          name: type
          description: Optional filter on the transaction type(s) returned
          required: false
          schema:
            $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        200:
          description: A list of transactions
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/bills:
    get:
      summary: List all bills.
      description: This endpoint will list all the user's bills.
      operationId: listBill
      tags:
        - bills
      parameters:
      - in: query
        name: page
        description: Page number. The default pagination is 50.
        required: false
        schema:
          type: integer
          example: 1
      - in: query
        name: start
        description: |
          A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
        required: false
        schema:
          type: string
          format: date
          example: "2018-09-17"
      - in: query
        name: end
        description: |
          A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
        required: false
        schema:
          type: string
          format: date
          example: "2018-12-31"
      responses:
        200:
          description: A list of bills
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillArray'
    post:
      summary: Store a new bill
      description: Creates a new bill. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeBill
      tags:
        - bills
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillStore'
        description: "JSON array or key=value pairs with the necessary bill information. See the model for the exact specifications."
        required: true
      responses:
        200:
          description: 'New bill stored, result in response.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/bills/{id}:
    get:
      summary: Get a single bill.
      description: Get a single bill.
      operationId: getBill
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the bill.
      - in: query
        name: start
        description: |
          A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
        required: false
        schema:
          type: string
          format: date
          example: "2018-09-17"
      - in: query
        name: end
        description: |
          A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
        required: false
        schema:
          type: string
          format: date
          example: "2018-12-31"
      tags:
        - bills
      responses:
        200:
          description: 'The requested bill'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        404:
          description: Bill not found
    put:
      operationId: updateBill
      tags:
        - bills
      description: Update existing bill.
      summary: Update existing bill.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the bill.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillUpdate'
        description: JSON array or key=value pairs with updated bill information. See the model for the exact specifications.
        required: true
      responses:
        200:
          description: 'Updated bill stored, result in response'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteBill
      description: Delete a bill. This will not delete any associated rules. Will not remove associated transactions. WILL remove all associated attachments.
      summary: Delete a bill.
      tags:
        - bills
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the bill.
      responses:
        204:
          description: Bill deleted.
        404:
          description: No such bill
  /api/v1/rules:
    get:
      summary: List all rules.
      description: List all rules.
      operationId: listRule
      tags:
        - rules
      parameters:
      - in: query
        name: page
        description: Page number. The default pagination is 50.
        required: false
        schema:
          type: integer
          example: 1
      responses:
        200:
          description: A list of rules
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleArray'
    post:
      summary: Store a new rule
      description: Creates a new rule. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeRule
      tags:
        - rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleStore'
        description: "JSON array or key=value pairs with the necessary rule information. See the model for the exact specifications."
        required: true
      responses:
        200:
          description: 'New rule stored, result in response.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/rules/{id}:
    get:
      summary: Get a single rule.
      description: Get a single rule.
      operationId: getRule
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the object.X
      tags:
        - rules
      responses:
        200:
          description: 'The requested rule'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
        404:
          description: Rule not found
    put:
      operationId: updateRule
      tags:
        - rules
      description: Update existing rule.
      summary: Update existing rule.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the object.X
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleUpdate'
        description: JSON array with updated rule information. See the model for the exact specifications.
        required: true
      responses:
        200:
          description: 'Updated rule stored, result in response'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteRule
      description: Delete an rule.
      summary: Delete an rule.
      tags:
        - rules
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the rule.
      responses:
        204:
          description: Rule deleted.
        404:
          description: No such rule
  /api/v1/transactions:
    get:
      summary: |
        List all the user's transactions.
      description: List all the user's transactions.
      operationId: listTransaction
      tags:
        - transactions
      parameters:
      - in: query
        name: page
        description: Page number. The default pagination is 50.
        required: false
        schema:
          type: integer
          example: 1
      - in: query
        name: start
        description: |
          A date formatted YYYY-MM-DD. This is the start date of the selected range (inclusive).
        required: false
        schema:
          type: string
          format: date
          example: "2018-09-17"
      - in: query
        name: end
        description: |
          A date formatted YYYY-MM-DD. This is the end date of the selected range (inclusive).
        required: false
        schema:
          type: string
          format: date
          example: "2018-09-17"
      - in: query
        name: type
        description: Optional filter on the transaction type(s) returned.
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        200:
          description: A list of transactions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
    post:
      summary: Store a new transaction
      description: Creates a new transaction. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeTransaction
      tags:
        - transactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionStore'
        description: "JSON array or key=value pairs with the necessary transaction information. See the model for the exact specifications."
        required: true
      responses:
        200:
          description: 'New transaction stored(s), result in response.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/transactions/{id}:
    get:
      summary: Get a single transaction.
      description: Get a single transaction.
      operationId: getTransaction
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the transaction.
      tags:
        - transactions
      responses:
        200:
          description: 'The requested transaction.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionSingle'
        404:
          description: Transaction not found.
    put:
      operationId: updateTransaction
      tags:
        - transactions
      description: Update an existing transaction.
      summary: Update existing transaction. For more information, see https://docs.firefly-iii.org/firefly-iii/api/specials
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the transaction.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionUpdate'
        description: JSON array with updated transaction information. See the model for the exact specifications.
        required: true
      responses:
        200:
          description: 'Updated transaction stored, result in response'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionSingle'
        422:
          description: 'Validation errors (see body)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: deleteTransaction
      description: Delete a transaction.
      summary: Delete a transaction.
      tags:
        - transactions
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          example: "123"
        description: The ID of the transaction.
      responses:
        204:
          description: Transaction deleted.
        404:
          description: No such transaction.
  /api/v1/object_groups:
    get:
      summary: List all oject groups.
      description: List all oject groups.
      operationId: listObjectGroups
      tags:
        - object_groups
      parameters:
        - in: query
          name: page
          description: Page number. The default pagination is 50.
          required: false
          schema:
            type: integer
            example: 1
      responses:
        200:
          description: A list of object groups
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ObjectGroupArray'
  /api/v1/object_groups/{id}:
    get:
      summary: Get a single object group.
      description: Get a single object group.
      operationId: getObjectGroup
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            example: "123"
          description: The ID of the object group.
      tags:
        - object_groups
      responses:
        200:
          description: The requested object group
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ObjectGroupSingle'
        404:
          description: Object group not found
    put:
      operationId: updateObjectGroup
      tags:
        - object_groups
      description: Update existing object group.
      summary: Update existing object group.
      parameters:
        - in: path
          name: id
          required: true
          schema:
[...]
