name: Syntax Check

on:
  push:
    # Ignore develop branch, will be triggered by workflow_call in release.yml
    branches-ignore: 
      - develop
  workflow_call:
  pull_request:

jobs:
  analyze:
    runs-on: ubuntu-latest
    name: Analyze and Test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      # Call setup_env action to setup workspace
      - name: Setup Flutter environment
        uses: ./.github/actions/setup_env
        with:
          java-version: 17.x
          flutter-channel: stable

      # Check for any formatting issues in the code.
      - name: Check for any formatting issues
        run: dart format --set-exit-if-changed .

      # Statically analyze the Dart code for any errors.
      - name: Statically analyze the Dart code
        run: dart analyze .

      # Run flutter tests.
      - name: Run flutter tests
        run: flutter test
