name: Build and Release

on:
  release:
    types:
      - created
  push:
    branches:
      - develop

env:
  PROPERTIES_PATH: "./android/key.properties"

jobs:
  # This job runs the syntax check workflow.
  check:
    uses: ./.github/workflows/commit.yml
    name: Code Check

  # This job builds the Android app (APK and App Bundle).
  build:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip build]') }}
    needs: [check]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      # Call setup_env action to setup workspace
      - name: Setup Flutter environment
        uses: ./.github/actions/setup_env
        with:
          java-version: 17.x
          flutter-channel: stable

      # Generate keystore from base64 secret
      - name: Generate keystore
        uses: timheuer/base64-to-file@v1.2
        id: android_keystore
        with:
          fileName: upload-keystore.jks
          encodedString: ${{ secrets.KEYSTORE_BASE64 }}

      # Create key.properties file for signing
      - name: Create key.properties
        run: |
          echo "storeFile=${{ steps.android_keystore.outputs.filePath }}" > ${{env.PROPERTIES_PATH}}
          echo "storePassword=${{ secrets.STORE_PASSWORD }}" >> ${{env.PROPERTIES_PATH}}
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> ${{env.PROPERTIES_PATH}}
          echo "keyAlias=upload" >> ${{env.PROPERTIES_PATH}}

      # Set build number in pubspec.yaml
      - name: Set build number
        run: |
          sed -i 's/^\(version: [0-9\.]\{1,\}\(-[a-z]\{1,\}\)\{0,1\}\([0-9\.]\)\{0,\}\)$/\1+${{ github.run_number }}/m' pubspec.yaml

      # Build l10n files
      - name: Generate localization files
        run: mkdir -p build && flutter gen-l10n

      # Build the APKs
      - name: Build APK
        run: flutter build apk --obfuscate --split-debug-info=build/app/outputs/symbols/apk --release --split-per-abi --dart-define=cronetHttpNoPlay=true

      # Build the App Bundle
      # Since the aab is only distributed to the play store and never uploaded somewhere else, we can use the Google Play Services cronet here.
      - name: Build App Bundle
        run: flutter build appbundle --obfuscate --split-debug-info=build/app/outputs/symbols/aab --release

      # Zip symbols
      - name: Prepare symbols for zipping
        uses: montudor/action-zip@v1
      - name: Zip AAB debug symbols
        run: zip -qq -r aab-debug-symbols.zip *
        working-directory: build/app/intermediates/merged_native_libs/release/mergeReleaseNativeLibs/out/lib/

      # Upload generated artifacts.
      - name: Upload arm64-v8a APK
        uses: actions/upload-artifact@v5
        with:
          name: app-arm64-v8a-release.apk
          path: build/app/outputs/apk/release/app-arm64-v8a-release.apk
      - name: Upload armeabi-v7a APK
        uses: actions/upload-artifact@v5
        with:
          name: app-armeabi-v7a-release.apk
          path: build/app/outputs/apk/release/app-armeabi-v7a-release.apk
      - name: Upload x86_64 APK
        uses: actions/upload-artifact@v5
        with:
          name: app-x86_64-release.apk
          path: build/app/outputs/flutter-apk/app-x86_64-release.apk

      - name: Upload App Bundle
        uses: actions/upload-artifact@v5
        with:
          name: app-release.aab
          path: build/app/outputs/bundle/release/app-release.aab
      - name: Upload AAB debug symbols
        uses: actions/upload-artifact@v5
        with:
          name: aab-debug-symbols.zip
          path: build/app/intermediates/merged_native_libs/release/mergeReleaseNativeLibs/out/lib/aab-debug-symbols.zip
      - name: Upload Proguard mapping
        uses: actions/upload-artifact@v5
        with:
          name: mapping.txt
          path: build/app/outputs/mapping/release/mapping.txt

  # This job uploads the built APKs to the GitHub release.
  upload-to-github:
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download arm64-v8a APK
        uses: actions/download-artifact@v6
        with:
          name: app-arm64-v8a-release.apk
          path: ./artifacts
      - name: Download armeabi-v7a APK
        uses: actions/download-artifact@v6
        with:
          name: app-armeabi-v7a-release.apk
          path: ./artifacts
      - name: Download x86_64 APK
        uses: actions/download-artifact@v6
        with:
          name: app-x86_64-release.apk
          path: ./artifacts

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./artifacts/app-arm64-v8a-release.apk
            ./artifacts/app-armeabi-v7a-release.apk
            ./artifacts/app-x86_64-release.apk

  # This job deploys the App Bundle to Google Play.
  deploy:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Download App Bundle
        uses: actions/download-artifact@v6
        with:
          name: app-release.aab
          path: ./artifacts
      - name: Download AAB debug symbols
        uses: actions/download-artifact@v6
        with:
          name: aab-debug-symbols.zip
          path: ./artifacts
      - name: Download Proguard mapping
        uses: actions/download-artifact@v6
        with:
          name: mapping.txt
          path: ./artifacts
      # not a release --> push to internal
      - name: Deploy to Internal track
        uses: r0adkll/upload-google-play@v1
        if: ${{ !startsWith(github.ref, 'refs/tags/')  }}
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAYSTORE_ACCOUNT_KEY }}
          packageName: com.dreautall.waterflyiii
          releaseFiles: ./artifacts/app-release.aab
          debugSymbols: ./artifacts/aab-debug-symbols.zip
          mappingFile: ./artifacts/mapping.txt
          track: internal
          status: completed
      # prerelease --> push to beta
      - name: Deploy to Beta track
        uses: r0adkll/upload-google-play@v1
        if: ${{ startsWith(github.ref, 'refs/tags/') && github.event.release.prerelease  }}
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAYSTORE_ACCOUNT_KEY }}
          packageName: com.dreautall.waterflyiii
          releaseFiles: ./artifacts/app-release.aab
          debugSymbols: ./artifacts/aab-debug-symbols.zip
          mappingFile: ./artifacts/mapping.txt
          track: beta
          status: completed
      # release --> push to production
      - name: Deploy to Production track
        uses: r0adkll/upload-google-play@v1
        if: ${{ startsWith(github.ref, 'refs/tags/') && !github.event.release.prerelease  }}
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAYSTORE_ACCOUNT_KEY }}
          packageName: com.dreautall.waterflyiii
          releaseFiles: ./artifacts/app-release.aab
          debugSymbols: ./artifacts/aab-debug-symbols.zip
          mappingFile: ./artifacts/mapping.txt
          track: production
          status: completed
